name: Release Build

on:
  push:
    tags:
      - 'v*'

jobs:
  build-linux:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Install Dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y build-essential git make \
            pkg-config cmake ninja-build gnome-desktop-testing libasound2-dev libpulse-dev \
            libaudio-dev libfribidi-dev libjack-dev libsndio-dev libx11-dev libxext-dev \
            libxrandr-dev libxcursor-dev libxfixes-dev libxi-dev libxss-dev libxtst-dev \
            libxkbcommon-dev libdrm-dev libgbm-dev libgl1-mesa-dev libgles2-mesa-dev \
            libegl1-mesa-dev libdbus-1-dev libibus-1.0-dev libudev-dev libpipewire-0.3-dev \
            libwayland-dev libdecor-0-dev liburing-dev

      - name: Configure CMake
        run: cmake -B build -G Ninja -DCMAKE_BUILD_TYPE=Dist

      - name: Build
        run: cmake --build build --config Dist

      - name: Create Release Archive
        run: |
          cd build/Dist
          tar czf ../../DODDJ-linux.tar.gz DODDJ libSDL3*
      
      - uses: actions/upload-artifact@v4
        with:
          name: linux-artifact
          path: DODDJ-linux.tar.gz

  build-windows:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Configure CMake
        # Visual Studio = multi-config generator => specify 'Dist' in build step
        run: cmake -B build -G "Visual Studio 17 2022" -A x64

      - name: Build
        run: cmake --build build --config Dist

      - name: Create Release Archive
        run: |
          cd build/Dist
          7z a ../../DODDJ-windows.zip DODDJ.exe SDL3.dll

      - uses: actions/upload-artifact@v4
        with:
          name: windows-artifact
          path: DODDJ-windows.zip

  create-release:
    needs: [build-linux, build-windows]
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Download all artifacts
        uses: actions/download-artifact@v4
        with:
          path: artifacts

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          files: |
            artifacts/linux-artifact/*.tar.gz
            artifacts/windows-artifact/*.zip